<div class="container mt-5">
  <h2>Multi-Select Dropdown Demo</h2>

  <hr />

  <label class="form-label">Primary Template-Driven Form</label>
  <form #templateForm="ngForm">
    <app-multi-select-dropdown
      [options]="allItems"
      ariaLabel="Template Form Expand/Collapse"
      [(ngModel)]="selectedItemsTemplate"
      name="selectedItemsTemplate">
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ selectedItemsTemplate | json }}
    </p>
  </form>
  <hr />
  <label class="form-label">Secondary Template-Driven Form</label>
  <form #templateForm="ngForm">
    <app-multi-select-dropdown
      [options]="allItems"
      color="secondary"
      ariaLabel="Template Form Expand/Collapse"
      [(ngModel)]="selectedItemsTemplate"
      name="selectedItemsTemplate">
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ selectedItemsTemplate | json }}
    </p>
  </form>

  <hr />

  <label class="form-label">Primary Outline Template-Driven Form</label>
  <form #templateForm="ngForm">
    <app-multi-select-dropdown
      [options]="allItems"
      variant="outlined"
      ariaLabel="Template Form Expand/Collapse"
      [(ngModel)]="selectedItemsTemplate"
      name="selectedItemsTemplate">
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ selectedItemsTemplate | json }}
    </p>
  </form>
  <hr />

<label class="form-label">Template-Driven Form</label>
  <form #templateForm="ngForm">
    <app-multi-select-dropdown
      [options]="allItems"
      variant="outlined"
      ariaLabel="Template Form Expand/Collapse"
      [(ngModel)]="selectedItemsTemplate"
      display="comma"
      name="selectedItemsTemplate">
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ selectedItemsTemplate | json }}
    </p>
  </form>
  <hr />

  <label class="form-label">Reactive Form</label>
  <form [formGroup]="reactiveForm">
    <app-multi-select-dropdown
      [options]="allItems"
      ariaLabel="Reactive Form Expand/Collapse"
      formControlName="selectedItems">
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ reactiveForm.get('selectedItems')?.value | json }}
    </p>
  </form>

  <label class="form-label">Basic Form, Custom Model</label>
  <form #basicTemplateForm="ngForm">
    <app-multi-select-dropdown
      [options]="cities"
      ariaLabel="Reactive Form Expand/Collapse"
      [(ngModel)]="selectedCities"
      optionLabel="name"
      optionValue="code"
      name="selectedCities"
      >
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ selectedCities | json }}
    </p>
  </form>
   
</div>