<div class="container mt-5">
  <h2>Multi-Select Dropdown Demo</h2>

  <hr />

  <h3>Template-Driven Form</h3>
  <form #templateForm="ngForm">
    <app-multi-select-dropdown
      [items]="allItems"
      ariaLabel="Template Form Expand/Collapse"
      [(ngModel)]="selectedItemsTemplate"
      name="selectedItemsTemplate">
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ selectedItemsTemplate | json }}
    </p>
  </form>

  <hr />

  <h3>Reactive Form</h3>
  <form [formGroup]="reactiveForm">
    <app-multi-select-dropdown
      [items]="allItems"
      ariaLabel="Reactive Form Expand/Collapse"
      formControlName="selectedItems">
    </app-multi-select-dropdown>
    <p class="mt-2">
      Selected Items: {{ reactiveForm.get('selectedItems')?.value | json }}
    </p>
  </form>
</div>