<div class="d-flex justify-content-start">
  <div class="form-control d-flex text-truncate rounded-0 rounded-start" style="max-width: 300px; user-select: none"
    aria-label="Text input with dropdown button" contenteditable="true">
    @if (display === 'chip') {
    <ng-container *ngFor="let selectedItem of selectedItemsLabel(); let i = index">
      <button type="button"
        class="btn btn-sm btn-primary rounded-pill d-flex justify-content-between align-items-center"
        (click)="unSelectItemLabel(i)" aria-label="Close">
        {{ getLabel(selectedItem) }}
        <div class="btn-close"></div>
      </button>
    </ng-container>
    }
    @else {
    {{ selectedItemsText() }}
    }
  </div>
  <div class="dropdown d-flex" role="listbox" [attr.aria-activedescendant]="activeDescendant()">
    <button class="btn btn-primary rounded-0 rounded-end dropdown-toggle" type="button" (click)="toggleDropdown()"
      aria-haspopup="true" [attr.aria-label]="ariaLabel" type="button" data-bs-toggle="dropdown"
      [attr.aria-expanded]="isOpen()">
    </button>
    <div class="dropdown-menu dropdown-menu-end" style="width: 334px" [class.show]="isOpen()">
      <input #filterInput type="text" class="form-control m-2" [placeholder]="filterPlaceHolder" autocomplete="off"
        spellcheck="false" [value]="filterText()" (input)="onFilterChange($event)" name="filterText"
        aria-label="Filter items" />
      @for (item of filteredItems(); track item; let i = $index) {
      <a #dropdownItem class="dropdown-item" href="javascript:;" (click)="toggleItem(item)" role="option"
        [id]="'ms-item-' + i" [attr.aria-selected]="isSelected(item)" [class.keyboard-active]="i === activeIndex()">
        <input type="checkbox" [checked]="isSelected(item)" [value]="isSelected(item)" class="form-check-input"
          tabindex="-1" /> {{ getLabel(item) }}
      </a>
      }@empty {
      <div class="alert alert-info m-2" role="alert">
        {{emptyFilterMessage}}
      </div>
      }

    </div>
  </div>
</div>