.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  transform: translate(-300px, 47px) !important;
}

// Style for the currently keyboard-navigated item
.dropdown-item.keyboard-active {
  background-color: #e9ecef; // A light grey, distinct from the blue 'active' (selected) color
  color: #212529;
}
.dropdown-item:hover {
  background-color: lightblue; // A light grey, distinct from the blue 'active' (selected) color
  color: #212529;
}
.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
  opacity: 1;
}